<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="tezgjah, tregime, tregim i shkurtër, tregim kolektiv">
    <meta name="author" content="Edlir Velaj">
    <title>tezgjah | krijo të ri</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="bower_components/material-design-lite/material.min.css">
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="style/main.css">
</head>

<body>
    <div class="container">
        <div class="anash">
            <div class="menu">
              <ul class="listMenu">
                <li><a href="/shkrime">Kreu</a></li>
                <li><a href="#">Krijo të ri</a></li>
                <li><a href="/logout">Dil</a></li>
              </ul>
            </div>
        </div>
        <div class="tregim">
             <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea id="textarea1" class="materialize-textarea"></textarea>
                  <label for="textarea1">Shprehu</label>
                </div>
              </div>
            </form>
          </div>
            <button type="submit" id="shto-btn" class="mdl-button mdl-js-button mdl-button--raised shto">Shto</button>
        </div>
    </div>

     <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jqueryui/jquery-ui.min.js"></script>
    <script src="bower_components/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="bower_components/greensock-js/src/minified/TimelineMax.min.js"></script>
    <script src="bower_components/gs/SplitText.min.js"></script>
    <script src="bower_components/gs/vezeterrahura.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="bower_components/material-design-lite/material.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="models/bbModels.js"></script>
    <script type="text/javascript" src="views/bbViews.js"></script>
    <script type="text/javascript" src="controls/ri.js"></script>
</body>

</html>
