<!DOCTYPE html>
<html lang="sq">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="tezgjah, tregime, tregim i shkurtër, tregim kolektiv">
    <meta name="author" content="Edlir Velaj">

    <title>tezgjah | kryefaqja</title>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="./style/main.css">
</head>

<body>
    <div class="container">
        <div class="anash">
            <div class="menu">
              <ul class="listMenu">
                <li class="reveal-text"><a href="#">Kreu</a></li>
                <li class="reveal-text"><a href="/ri">Krijo të ri</a></li>
                <li class="reveal-text"><a href="/logout">Dil</a></li>
              </ul>
            </div>
        </div>
        <div class="tregim">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <div class="trgm"></div>
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12">
                        <textarea id="textarea2" class="materialize-textarea"></textarea>
                        <label for="textarea2">Vazhdoje</label>
                      </div>
                    </div>
                  </form>
                </div>
                  <button type="submit" id="shto-btn" class="mdl-button mdl-js-button mdl-button--raised shto">Shto</button>
              </div>
                  <div id="nofkalog" style="display:none"><%=  user.nofka %></div>
                </div>
            </div>
        </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jqueryui/jquery-ui.min.js"></script>
    <script src="bower_components/greensock-js/src/minified/TweenMax.min.js"></script>
    <script src="bower_components/greensock-js/src/minified/TimelineMax.min.js"></script>
    <script src="bower_components/gs/SplitText.min.js"></script>
    <script src="bower_components/gs/vezeterrahura.min.js"></script>
    <script src="bower_components/underscore/underscore-min.js"></script>
    <script src="bower_components/backbone/backbone-min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="models/bbModels.js"></script>
    <script type="text/javascript" src="views/bbViews.js"></script>
    <script type="text/javascript" src="controls/kreu.js"></script>

</body>

</html>
